# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [1]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = 'data/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-10-21 23:54:10 UTC,-73.990580,40.761071,-73.981128,40.758634,2
1,2015-02-03 10:42:03 UTC,-73.988403,40.723431,-73.989647,40.741695,1
2,2014-03-16 18:58:58 UTC,-74.015785,40.715110,-74.012029,40.707888,2
3,2009-06-13 16:10:54 UTC,-73.977322,40.787275,-73.958030,40.778838,3
4,2014-06-12 03:25:56 UTC,-73.989683,40.729717,-73.982490,40.761887,3

In [2]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56

In [3]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

C:\Users\Pheobe\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.026876871475641616
Gradient Boosting Reg Score : 0.7108610432957745

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

In [12]:
# 加入星期幾與第幾周兩個特徵
"""
Your Code Here
"""
df['week_of_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%U')).astype('int64')
df['day_of_week'] = (df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%w')).astype('int64'))+1
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,week_of_year,day_of_week,day_cycle,year_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,42,6,-0.025450,0.777146
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,5,3,0.333601,0.453990
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,11,1,-0.967083,-0.275637
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,23,7,-0.888817,-0.974370
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,23,5,0.782427,-0.978148

In [5]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

C:\Users\Pheobe\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.028722639911797066
Gradient Boosting Reg Score : 0.7093117644071542

In [6]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,week_of_year,day_of_week,day_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,42,5,-0.025450
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,5,2,0.333601
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,11,0,-0.967083
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,23,6,-0.888817
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,23,4,0.782427

In [7]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

C:\Users\Pheobe\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.028234094061819915
Gradient Boosting Reg Score : 0.7102330432816686

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

In [16]:
# 加上"年週期"與"周週期"特徵
"""
Your Code Here
"""
df['year_cycle'] = df['pickup_month']/6 + df['pickup_day']/180
df['year_cycle'] = df['year_cycle'].map(lambda x:math.cos(x*math.pi))

df['week_cycle'] = df['day_of_week']/3.5 + df['pickup_hour']/84
df['week_cycle'] = df['week_cycle'].map(lambda x:math.sin(x*math.pi))

df.head(30)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,week_of_year,day_of_week,day_cycle,year_cycle,week_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,42,6,-0.025450,0.777146,-0.037391
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,5,3,0.333601,0.453990,0.074730
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,11,1,-0.967083,-0.275637,1.000000
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,23,7,-0.888817,-0.974370,0.563320
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,23,5,0.782427,-0.978148,-0.993712
5,2011-07-16 01:19:59,-73.997631,40.721805,-74.009757,40.709941,1,2011,7,16,1,19,59,28,7,0.341952,-0.694658,0.037391
6,2009-06-27 18:15:00,-73.954743,40.789303,-73.964755,40.773345,1,2009,6,27,18,15,0,25,7,-0.997859,-0.891007,0.623490
7,2009-01-23 20:38:16,-73.982279,40.764668,-73.990323,40.756427,1,2009,1,23,20,38,16,3,6,-0.770884,0.601815,-0.149042
8,2010-08-09 14:46:03,-73.965039,40.769972,-73.955365,40.779438,1,2010,8,9,14,46,3,32,2,-0.662783,-0.358368,0.733052
9,2011-09-29 21:56:45,-73.986570,40.734727,-74.003757,40.741951,1,2011,9,29,21,56,45,39,5,-0.512230,0.484810,-0.846724
10,2009-02-09 22:26:00,-73.953742,40.774040,-73.969870,40.785605,1,2009,2,9,22,26,0,6,2,-0.398749,0.358368,0.500000
11,2010-11-03 21:07:00,-73.982057,40.768790,-73.949467,40.830230,1,2010,11,3,21,7,0,44,4,-0.685183,0.891007,-0.943883
12,2009-11-23 05:18:00,-73.983368,40.727033,-73.953655,40.666835,4,2009,11,23,5,18,0,47,2,0.983255,0.992546,0.916562
13,2012-04-02 21:08:02,-74.005307,40.728124,-73.979042,40.741986,1,2012,4,2,21,8,2,14,2,-0.681892,-0.529919,0.532032
14,2009-12-14 20:28:45,-73.970473,40.783983,-73.967860,40.762692,1,2009,12,14,20,28,45,50,2,-0.796662,0.970296,0.563320
15,2014-03-30 01:52:38,-73.951788,40.714289,-73.952272,40.694019,2,2014,3,30,1,52,38,13,1,0.471910,-0.500000,0.804598
16,2009-07-01 03:24:53,-73.999353,40.761494,-73.953128,40.768081,1,2009,7,1,3,24,53,26,4,0.779566,-0.857167,-0.532032
17,2013-08-01 01:00:25,-74.001532,40.730875,-73.978048,40.764719,1,2013,8,1,1,0,25,30,5,0.260575,-0.484810,-0.982566
18,2012-03-17 10:39:05,-73.966994,40.757627,-73.967327,40.766001,1,2012,3,17,10,39,5,11,7,0.345776,-0.292372,0.365341
19,2013-11-01 20:41:00,-73.967032,40.803832,-73.973962,40.754712,2,2013,11,1,20,41,0,43,6,-0.763232,0.874620,-0.149042
20,2014-04-21 17:48:35,-73.988503,40.731349,-73.979510,40.748828,1,2014,4,21,17,48,35,16,2,-0.998760,-0.777146,0.652287
21,2012-01-07 17:53:00,-73.958500,40.810140,-73.978187,40.778183,4,2012,1,7,17,53,0,1,7,-0.999534,0.798636,0.593820
22,2011-06-16 15:06:00,-73.966323,40.761512,-73.957015,40.768288,1,2011,6,16,15,6,0,24,5,-0.725374,-0.961262,-0.943883
23,2011-03-05 20:25:00,-73.989962,40.767048,-73.950755,40.776633,1,2011,3,5,20,25,0,9,7,-0.806445,-0.087156,0.680173
24,2012-10-08 09:09:39,-73.958430,40.781613,-73.985932,40.770163,1,2012,10,8,9,9,39,41,2,0.676715,0.615661,0.846724
25,2014-05-21 18:46:00,-73.979752,40.766000,-73.985705,40.756777,1,2014,5,21,18,46,0,20,4,-0.979925,-0.987688,-0.900969
26,2014-02-11 21:21:00,-73.994117,40.759050,-73.942337,40.847027,1,2014,2,11,21,21,0,6,3,-0.639439,0.325568,-0.330279
27,2011-07-09 23:12:00,-73.980308,40.780442,-73.972903,40.795217,5,2011,7,9,23,12,0,27,7,-0.207912,-0.777146,0.757972
28,2011-12-14 12:03:14,-73.980436,40.770263,-73.953017,40.783132,1,2011,12,14,12,3,14,50,4,-0.014108,0.970296,-0.781831
29,2012-02-12 12:09:15,-73.951540,40.769698,-73.966601,40.753667,1,2012,2,12,12,9,15,7,1,-0.040350,0.309017,0.974928

In [9]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

C:\Users\Pheobe\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.02809505529153191
Gradient Boosting Reg Score : 0.7082110335908941